@charset "utf-8";

body, nav, dl, dt, dd, p, h1, h2, h3, h4, ul, ol, li, input, button, textarea, footer { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }

body { font-family: XinGothic-SinaWeibo, 'Microsoft Yahei', Simsun; font-size: 18px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1.5; color: rgb(51, 51, 51); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(243, 243, 243); background-size: initial; -webkit-text-size-adjust: none; min-width: 320px; background-position: initial initial; background-repeat: initial initial; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

form { display: inline; }

ul, ol { list-style-type: none; list-style-position: initial; list-style-image: initial; }

a { text-decoration: none; color: rgb(31, 31, 31); }

a:hover { color: rgb(31, 31, 31); text-decoration: none; }

a:active { color: rgb(31, 31, 31); }

a:focus { color: rgb(50, 131, 36); text-decoration: none; }

img { vertical-align: middle; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; }

button, input, select, textarea { font-size: 100%; vertical-align: middle; outline-style: none; outline-width: initial; outline-color: initial; }

textarea { resize: none; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

button::-moz-focus-inner, input::-moz-focus-inner { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; }

table { border-collapse: collapse; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; }

.fl { float: left; }

.fr { float: right; }

.hide { display: none; }

.show { display: block; }

.p_header_navlink, .navlink, .p_recommend_tips, .p_foot_t_clock, .p_newslist_ico_pic, .p_newslist_ico_video, .p_addlist li, .p_search_btn, .p_search_seclet h3 { background-image: url(http://www.360doc.cn/images/ico_bg.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: 29px; background-position: initial initial; background-repeat: no-repeat no-repeat; }

.p_header, .p_nav, .p_footer { }

.p_header_logowrap { height: 37px; padding-top: 14px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; }

.p_header_logo { float: left; height: 21px; width: 142px; overflow-x: hidden; overflow-y: hidden; background-size: 142px 21px; background-image: url(http://www.360doc.cn/images/loge.png); background-repeat: no-repeat no-repeat; }

.p_header_serch { background-size: 21px 19px; float: left; height: 19px; width: 21px; text-indent: -99em; overflow-x: hidden; overflow-y: hidden; vertical-align: 0px; background-image: url(http://www.360doc.cn/images/tb1.png); background-repeat: no-repeat no-repeat; }

.p_header_nav { float: right; padding-top: 1px; display: inline; width: 23px; position: relative; }

.p_nav { clear: both; overflow-x: hidden; overflow-y: hidden; text-align: left; padding-top: 0px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; }

.p_nav li { display: inline-block; height: 14px; line-height: 14px; margin-bottom: 10px; }

.p_nav li a { display: inline-block; }

.p_nav a:hover { color: rgb(251, 134, 0); text-decoration: none; }

.nava { }

.nava a { text-decoration: none; color: rgb(50, 131, 36); }

.nava a:hover, .nava a:active, .nava a:focus { color: rgb(251, 134, 0); text-decoration: none; }

.w1 { padding-top: 0px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; }

.navtit { border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(90, 159, 32); height: 30px; color: rgb(50, 131, 36); padding-top: 5px; }

.meddibox { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(213, 213, 213); }

.headyin { background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(231, 231, 231)), to(rgb(243, 243, 243))); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(213, 213, 213); background-position: initial initial; background-repeat: initial initial; }

.name { color: rgb(140, 140, 140); font-size: 14px; line-height: 26px; }

.czc { color: rgb(145, 145, 145); font-size: 12px; line-height: 30px; }

.list1 { height: 50px; background-color: rgb(253, 253, 253); padding-top: 5px; padding-right: 11px; padding-bottom: 5px; padding-left: 11px; line-height: 18px; }

.list2 { height: 50px; background-color: rgb(243, 243, 243); padding-top: 5px; padding-right: 11px; padding-bottom: 5px; padding-left: 11px; line-height: 18px; }

.list11 { height: 50px; background-color: rgb(253, 253, 253); padding-top: 10px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; line-height: 18px; }

.list22 { height: 50px; background-color: rgb(243, 243, 243); padding-top: 10px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; line-height: 18px; }

.p_newsmore { clear: both; margin-top: 4px; margin-right: 12px; margin-bottom: 4px; margin-left: 12px; height: 35px; line-height: 35px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(215, 215, 215); border-right-color: rgb(215, 215, 215); border-bottom-color: rgb(215, 215, 215); border-left-color: rgb(215, 215, 215); border-image: initial; display: block; font-size: 16px; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-image: linear-gradient(rgb(239, 239, 239), rgb(228, 228, 228)); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; -webkit-box-shadow: rgb(251, 251, 251) 0px 1px 0px inset; box-shadow: rgb(251, 251, 251) 0px 1px 0px inset; background-position: initial initial; background-repeat: initial initial; }

.zhanc { clear: both; overflow-x: hidden; overflow-y: hidden; text-align: left; }

.zhanc li { display: inline-block; line-height: 18px; }

.zhanc li a { display: inline-block; }

.zhanc li:last-child { padding-left: 10px; }

.zhancnum { line-height: 20px; color: rgb(253, 101, 2); font-size: 20px; font-family: Helvetica, Arial, 'Microsoft Yahei', Simsun; }

.zhancleft { width: 50px; text-align: center; line-height: 20px; }

.book-list { }

.book-list li { position: relative; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-left-style: solid; border-left-width: 1px; border-left-color: rgb(255, 255, 255); border-right-style: solid; border-right-width: 1px; border-right-color: rgb(255, 255, 255); }

.book-list li a:nth-child(odd) { padding-top: 5px; padding-right: 8px; padding-bottom: 5px; padding-left: 16px; font-size: 17px; text-decoration: none; display: block; white-space: nowrap; word-wrap: normal; overflow-x: hidden; overflow-y: hidden; text-overflow: ellipsis; }

.book-list li:nth-child(2n+1) { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(243, 243, 243); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.numwsj { background-image: url(http://www.360doc.cn/images/tb2.png); width: 60px; height: 18px; text-align: right; padding-right: 15px; margin-right: 8px; margin-top: 13px; font-size: 14px; color: rgb(167, 167, 167); font-family: Helvetica, Arial, 'Microsoft Yahei', Simsun; background-position: 100% 50%; background-repeat: no-repeat no-repeat; }

.wjjname { }

.wjjname a { text-decoration: none; color: rgb(50, 131, 36); }

.wjjname a:hover, .wjjname a:active, .wjjname a:focus { color: rgb(251, 134, 0); text-decoration: none; }

.wjjbox { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(230, 230, 230); border-right-color: rgb(230, 230, 230); border-bottom-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-image: initial; background-color: rgb(253, 253, 253); }

.wjja { padding-top: 9px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; }

.fenlpc { float: left; height: 78px; overflow-x: hidden; overflow-y: hidden; width: 104px; }

.fenlei { width: 48px; height: 25px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; line-height: 25px; text-align: center; background-color: rgb(243, 243, 243); font-size: 16px; }

.flul { float: left; padding-left: 12px; }

.flul li:nth-child(2n+1) { padding-top: 4px; }

.flul li:nth-child(2n) { padding-top: 12px; }

.fllibox { width: 50px; height: 27px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(207, 207, 207); border-right-color: rgb(207, 207, 207); border-bottom-color: rgb(207, 207, 207); border-left-color: rgb(207, 207, 207); border-image: initial; }

.flbox1 { padding-top: 5px; height: 83px; background-color: rgb(253, 253, 253); }

.flbox2 { padding-top: 5px; height: 83px; background-color: rgb(243, 243, 243); }

.p_nav_footer { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(207, 207, 207); border-top-width: 2px; border-top-style: solid; border-top-color: rgb(90, 159, 32); text-align: center; padding-top: 6px; padding-bottom: 6px; }

.p_footer { clear: both; padding-top: 16px; padding-right: 0px; padding-bottom: 16px; padding-left: 0px; text-align: center; font-size: 14px; -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px inset; }

.p_foot_v { clear: both; height: 24px; line-height: 24px; color: rgb(31, 31, 31); }

.p_foot_v a { margin-top: 0px; margin-right: 10px; margin-bottom: 0px; margin-left: 10px; }

.p_foot_v a.active { color: rgb(50, 131, 36); }

.p_foot_v a:hover { color: rgb(50, 131, 36); }

.p_foot_t { clear: both; line-height: 20px; font-size: 14px; color: rgb(167, 167, 167); padding-top: 9px; }

.plun { background-image: url(http://www.360doc.cn/images/tb3.gif); line-height: 18px; padding-left: 27px; font-size: 14px; color: rgb(167, 167, 167); background-repeat: no-repeat no-repeat; }

.pllfbox { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(230, 230, 230); border-right-color: rgb(230, 230, 230); border-bottom-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-image: initial; height: 87px; width: 100%; font-size: 16px; background-color: rgb(253, 253, 253); position: relative; }

.plren { width: 51px; text-align: center; padding-top: 10px; padding-left: 10px; }

.plren img { width: 50px; height: 50px; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }

.plrenspan { font-size: 13px; color: rgb(167, 167, 167); }

.swipe_h3 { position: absolute; left: 0px; bottom: 0px; text-align: center; font-size: 14px; font-weight: normal; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(0, 0, 0, 0.597656); background-size: initial; height: 30px; line-height: 30px; color: rgb(255, 255, 255); width: 145px; background-position: initial initial; background-repeat: initial initial; }

.swipetu { position: relative; width: 145px; height: 108px; }

.swipetu2 { position: relative; width: 145px; }

.p_tabnum { clear: both; overflow-x: hidden; overflow-y: hidden; font-size: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 0px; text-align: center; }

.p_tabnum li { display: inline-block; width: 20px; height: 2px; line-height: 20px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(231, 231, 231); background-size: initial; margin-top: 0px; margin-right: 4px; margin-bottom: 0px; margin-left: 4px; overflow-x: hidden; overflow-y: hidden; text-indent: 999em; background-position: initial initial; background-repeat: initial initial; }

.p_tabnum li.active { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(251, 134, 0); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.topimg { background-image: url(http://www.360doc.cn/images/tb4.png); display: inline-block; position: absolute; width: 6px; height: 12px; right: -6px; top: 10px; background-repeat: no-repeat no-repeat; }

.content { position: relative; z-index: 1; height: 200px; width: 323px; background-color: rgb(255, 255, 255); padding-top: 20px; }

.sercha input { -webkit-transition-property: all; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-image: initial; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; height: 30px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(152, 152, 152); -webkit-box-shadow: rgb(213, 213, 213) 0px 1px 0px inset; box-shadow: rgb(213, 213, 213) 0px 1px 0px inset; outline-style: none; outline-width: initial; outline-color: initial; }

.sercha input:focus { border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-image: initial; box-shadow: rgb(90, 159, 32) 0px 0px 5px; -webkit-box-shadow: rgb(90, 159, 32) 0px 0px 5px; }

.serch { width: 45px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 8px; height: 30px; line-height: 30px; font-size: 16px; }

.serchzr { width: 45px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 4px; height: 30px; line-height: 30px; font-size: 16px; }

.ylsnav { clear: both; overflow-x: hidden; overflow-y: hidden; text-align: center; line-height: 36px; }

.ylsa li { text-align: center; float: left; list-style-type: none; width: 16%; }

.ylsa li.active { border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(90, 159, 32); color: rgb(50, 131, 36); }

.ylsa a:hover { color: rgb(251, 134, 0); text-decoration: none; }

.ylsnavxt { border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(90, 159, 32); }

.ylssnav { height: 40px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); }

.ylssnav2 { height: 38px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(218, 218, 218); }

.ylsa { line-height: 36px; }

.ylsa li span { cursor: pointer; }

.ylsa td { text-align: center; line-height: 36px; }

.p_header_dh { background-size: 18px; float: left; height: 18px; width: 18px; text-indent: -99em; overflow-x: hidden; overflow-y: hidden; vertical-align: 0px; background-image: url(tb5.png); background-repeat: no-repeat no-repeat; }

.wzbj { background-image: url(http://www.360doc.cn/images/tb18.png); height: 33px; background-position: 50% 0%; background-repeat: no-repeat no-repeat; }

.time { font-size: 14px; color: rgb(167, 167, 167); font-family: Helvetica, Arial, 'Microsoft Yahei', Simsun; }

.zhuanfabt { min-width: 70px; height: 30px; background-color: rgb(250, 102, 2); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 16px; padding-top: 0px; padding-right: 5px; padding-bottom: 0px; padding-left: 5px; }

.headyin2 { background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(230, 230, 230)), to(rgb(243, 243, 243))); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(219, 219, 219); height: 10px; background-position: initial initial; background-repeat: initial initial; }

.headyin3 { background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(230, 230, 230)), to(rgb(255, 255, 255))); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(219, 219, 219); height: 10px; background-position: initial initial; background-repeat: initial initial; }

.wztit { font-size: 20px; color: rgb(31, 31, 31); line-height: 26px; padding-top: 9px; }

.article { color: rgb(31, 31, 31); font-size: 18px; line-height: 27px; margin-bottom: 10px; overflow-x: hidden; overflow-y: hidden; text-align: justify; word-wrap: break-word; }

.name2 { color: rgb(50, 131, 36); }

.name3 a { text-decoration: underline; color: rgb(50, 131, 36); }

.name1 a { text-decoration: none; color: rgb(50, 131, 36); }

.lan a { text-decoration: none; color: rgb(67, 96, 159); }

.zcwdtsgbt { width: 170px; height: 30px; background-color: rgb(250, 102, 2); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 16px; }

.xianhuabt { width: 117px; height: 30px; background-color: rgb(129, 185, 34); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 16px; }

.fenxiagn { font-size: 16px; }

.fenxiagn img { padding-left: 14px; }

.lswztit { border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(90, 159, 32); color: rgb(50, 131, 36); }

.listd1 { height: 40px; background-color: rgb(243, 243, 243); line-height: 40px; padding-top: 0px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; }

.listd2 { height: 40px; background-color: rgb(253, 253, 253); line-height: 40px; padding-top: 0px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; }

.pllist1 { padding-top: 15px; padding-right: 11px; padding-bottom: 15px; padding-left: 11px; background-color: rgb(243, 243, 243); }

.pllist2 { padding-top: 15px; padding-right: 11px; padding-bottom: 15px; padding-left: 11px; background-color: rgb(253, 253, 253); }

.p_newsmore2 { clear: both; margin-top: 4px; margin-right: 12px; margin-bottom: 4px; margin-left: 12px; height: 35px; line-height: 35px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(215, 215, 215); border-right-color: rgb(215, 215, 215); border-bottom-color: rgb(215, 215, 215); border-left-color: rgb(215, 215, 215); border-image: initial; display: block; font-size: 14px; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-image: linear-gradient(rgb(239, 239, 239), rgb(228, 228, 228)); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; -webkit-box-shadow: rgb(251, 251, 251) 0px -1px 0px inset; box-shadow: rgb(251, 251, 251) 0px -1px 0px inset; background-position: initial initial; background-repeat: initial initial; }

.p_newsmore4 { clear: both; margin-top: 4px; margin-right: 12px; margin-bottom: 4px; margin-left: 12px; height: 35px; line-height: 35px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(217, 217, 217); border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-left-color: rgb(217, 217, 217); border-image: initial; display: block; font-size: 14px; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; box-shadow: rgb(255, 255, 255) 0px 1px 1px; background-color: rgb(232, 232, 232); }

.plbox { font-size: 16px; line-height: 24px; }

.pltxtbox { width: 100%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; color: rgb(150, 150, 150); font-size: 16px; line-height: 24px; height: 98px; -webkit-appearance: caret; }

.plfbbox { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(218, 218, 218); border-right-color: rgb(218, 218, 218); border-bottom-color: rgb(218, 218, 218); border-left-color: rgb(218, 218, 218); border-image: initial; padding-top: 8px; padding-right: 8px; padding-bottom: 8px; padding-left: 8px; background-color: rgb(255, 255, 255); }

.p_search_seclet { float: right; padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; position: relative; color: rgb(102, 102, 102); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(193, 193, 193); height: 30px; width: 13px; }

.psearchbj { position: absolute; width: 310px; height: 80px; left: -280px; top: 32px; z-index: 100; }

.psearchbjlogin { background-image: url(http://www.360doc.cn/images/sousuo2.png); position: absolute; width: 310px; height: 120px; left: -250px; top: 20px; z-index: 100; background-repeat: no-repeat no-repeat; }

.p_header_dh2 { background-size: 18px; float: left; height: 18px; width: 18px; text-indent: -99em; overflow-x: hidden; overflow-y: hidden; vertical-align: 0px; background-image: url(http://www.360doc.cn/images/tb20.png); background-repeat: no-repeat no-repeat; }

.gengduotacss { position: absolute; width: 158px; height: 216px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(90, 159, 32); border-right-color: rgb(90, 159, 32); border-bottom-color: rgb(90, 159, 32); border-left-color: rgb(90, 159, 32); border-image: initial; background-color: rgb(255, 255, 255); top: -214px; overflow-x: auto; overflow-y: auto; font-family: Helvetica, Arial, 'Microsoft Yahei', Simsun; }

.gengduotacss ul { }

.gengduotacss li { font-size: 18px; line-height: 36px; padding-left: 8px; }

.yemabox { width: 158px; margin-top: 4px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px; font-family: Helvetica, Arial, 'Microsoft Yahei', Simsun; }

.p_header_fh { background-size: 11px 20px; float: left; height: 20px; width: 11px; text-indent: -99em; overflow-x: hidden; overflow-y: hidden; vertical-align: 0px; background-image: url(tb21.png); margin-top: 1px; background-repeat: no-repeat no-repeat; }

.p_header_flei { background-size: 40px; float: left; height: 27px; width: 85px; font-size: 16px; background-image: url(http://www.360doc.cn/images/tb22.png); padding-top: 40px; background-position: 20px 0px; background-repeat: no-repeat no-repeat; }

.p_header_bainji { background-size: 40px; float: left; height: 27px; width: 40px; font-size: 16px; background-image: url(http://www.360doc.cn/images/tb23.png); padding-top: 40px; background-repeat: no-repeat no-repeat; }

.p_header_sousuo { background-size: 40px; float: left; height: 27px; width: 40px; font-size: 16px; background-image: url(http://www.360doc.cn/images/tb24.png); padding-top: 40px; background-repeat: no-repeat no-repeat; }

.qbuganc { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(243, 243, 243); height: 29px; }

.qbugancbox { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(255, 255, 255); background-color: rgb(230, 230, 230); height: 28px; padding-left: 11px; font-size: 14px; line-height: 28px; }

.p_newsmore3 { height: 30px; line-height: 30px; }

.tshuguantop { background-image: url(http://www.360doc.cn/images/bg2.png); height: 80px; background-size: 320px 80px; float: left; min-width: 320px; background-repeat: no-repeat no-repeat; }

.tshuguantopa { background-image: url(http://www.360doc.cn/images/bg2a.png); height: 80px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(255, 255, 255); background-size: 1px 80px; float: left; width: 100%; background-repeat: repeat repeat; }

.wdtsgwztit { height: 23px; padding-top: 17px; line-height: 14px; font-size: 14px; padding-left: 16px; }

.wdtsgbj1 { height: 60px; background-color: rgb(255, 255, 255); padding-top: 0px; padding-right: 6px; padding-bottom: 0px; padding-left: 16px; }

.wdtsgbj2 { height: 60px; padding-top: 0px; padding-right: 6px; padding-bottom: 0px; padding-left: 16px; }

.wdtsg_bj { background-size: 40px; float: left; height: 40px; width: 130px; font-size: 16px; padding-left: 51px; line-height: 40px; }

.wdtsg_wdgc { background-image: url(http://www.360doc.cn/images/tb25.png); background-repeat: no-repeat no-repeat; }

.wdtsg_gcfl { background-image: url(http://www.360doc.cn/images/tb26.png); background-repeat: no-repeat no-repeat; }

.wdtsg_wdsb { background-image: url(http://www.360doc.cn/images/tb27.png); background-repeat: no-repeat no-repeat; }

.wdtsg_wdgz { background-image: url(http://www.360doc.cn/images/tb28.png); background-repeat: no-repeat no-repeat; }

.wdtsg_wgzdgy { background-image: url(http://www.360doc.cn/images/tb29.png); background-repeat: no-repeat no-repeat; }

.wdtsg_gzwdgy { background-image: url(http://www.360doc.cn/images/tb30.png); background-repeat: no-repeat no-repeat; }

.wdtsg_wdxx { background-image: url(http://www.360doc.cn/images/tb31.png); background-repeat: no-repeat no-repeat; }

.wdtsg_gyfk { background-image: url(http://www.360doc.cn/images/tb32.png); background-repeat: no-repeat no-repeat; }

.wdtsg_gyw { background-image: url(http://www.360doc.cn/images/tb33.png); background-repeat: no-repeat no-repeat; }

.wdxinxnum { min-width: 30px; height: 20px; background-color: rgb(251, 114, 47); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-size: 14px; }

.ganyoulist { min-height: 32px; line-height: 32px; }

.ganyoubox { padding-top: 10px; padding-left: 11px; }

.txiangxq { font-size: 14px; line-height: 25px; }

.touxiangname { height: 25px; line-height: 25px; font-size: 18px; }

.guanyoumain { background-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(216, 215, 215); }

.guanbyoubox2 { border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: rgb(234, 234, 234); border-left-color: rgb(234, 234, 234); border-image: initial; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(190, 188, 189); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(229, 229, 229); }

.guanbyoubox3 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(229, 229, 229); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(229, 229, 229); }

.chongshi { width: 140px; margin-right: 0px; line-height: 30px; height: 30px; }

.quxiao { width: 140px; margin-left: 8px; line-height: 30px; height: 30px; }

.navanniuwz { line-height: 24px; padding-top: 14px; padding-right: 12px; font-size: 16px; }

.p_header_jguanz { background-size: 40px; float: left; height: 27px; width: 50px; font-size: 16px; background-image: url(http://www.360doc.cn/images/tb28.png); padding-top: 40px; background-repeat: no-repeat no-repeat; }

.wjjydtop { height: 50px; background-color: rgb(243, 243, 243); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(218, 218, 218); }

.p_header_jguanza { background-size: 40px; float: left; height: 40px; width: 50px; font-size: 16px; background-image: url(http://www.360doc.cn/images/tb28a.png); padding-top: 40px; background-repeat: no-repeat no-repeat; }

.hui { color: rgb(140, 140, 140); }

.hui a { text-decoration: none; color: rgb(140, 140, 140); }

.sousuo2bj { position: absolute; width: 310px; height: 120px; left: -232px; top: 72px; }

.sousuo2box { padding-left: 10px; text-align: left; }

.luse { color: rgb(50, 131, 36); }

.grjies { background-color: rgb(253, 253, 253); line-height: 40px; padding-top: 0px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; }

.txtzjinp { width: 100%; height: 34px; line-height: 34px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(218, 218, 218); border-right-color: rgb(218, 218, 218); border-bottom-color: rgb(218, 218, 218); border-left-color: rgb(218, 218, 218); border-image: initial; }

.xiexinwz { padding-top: 15px; height: 28px; line-height: 18px; font-size: 18px; }

.psearchbj3 { position: absolute; width: 310px; height: 80px; left: -230px; top: 70px; z-index: 100; }

.guanzgybox { text-align: center; line-height: 34px; font-size: 16px; }

.wgzdgytj { padding-left: 11px; height: 40px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(218, 218, 218); }

.wgzdgytjabc { padding-left: 11px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(218, 218, 218); }

.gzjuse { font-size: 14px; color: rgb(251, 112, 17); }

.numpian { font-size: 16px; padding-top: 4px; height: 28px; }

.zfsuibibox { margin-right: 11px; margin-bottom: 9px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(228, 228, 228); border-right-color: rgb(228, 228, 228); border-bottom-color: rgb(228, 228, 228); border-left-color: rgb(228, 228, 228); border-image: initial; background-color: rgb(247, 247, 247); position: relative; }

.zfsuibia1 { padding-top: 8px; padding-right: 12px; padding-bottom: 12px; padding-left: 12px; }

.zfsbjt { background-image: url(http://www.360doc.cn/images/tb35.png); width: 16px; height: 10px; position: absolute; left: 22px; top: -10px; background-repeat: no-repeat no-repeat; }

.newxinfasb { font-size: 16px; height: 34px; padding-top: 6px; }

.p_header_sjx { background-size: 40px; float: left; height: 40px; width: 80px; font-size: 16px; background-image: url(http://www.360doc.cn/images/tb36.png); padding-top: 40px; background-position: 20px 0px; background-repeat: no-repeat no-repeat; }

.p_header_fjx { background-image: url(http://www.360doc.cn/images/tb31.png); }

.p_header_txl { background-image: url(http://www.360doc.cn/images/tb38.png); }

.p_header_xdx { background-image: url(http://www.360doc.cn/images/tb39.png); }

.fjxjtou { background-image: url(http://www.360doc.cn/images/tb40.gif); width: 28px; height: 14px; position: absolute; left: 25px; top: 68px; background-repeat: no-repeat no-repeat; }

.sjxserch { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(255, 255, 255); height: 36px; padding-top: 13px; padding-left: 11px; padding-right: 15px; }

.fjxshachu { padding-top: 5px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(218, 218, 218); height: 43px; background-color: rgb(230, 230, 230); }

.sjxscbord { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); }

.txl_tjia { background-size: 26px 23px; float: left; height: 23px; width: 26px; text-indent: -99em; overflow-x: hidden; overflow-y: hidden; vertical-align: 0px; background-image: url(http://www.360doc.cn/images/tb41.png); background-repeat: no-repeat no-repeat; }

.dxmainbot { padding-top: 6px; background-color: rgb(230, 230, 230); height: 45px; }

.dxneirong { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(229, 229, 229); padding-top: 11px; padding-right: 11px; padding-bottom: 11px; padding-left: 11px; line-height: 32px; background-color: rgb(255, 255, 255); }

.dxtime { font-size: 16px; padding-top: 8px; padding-bottom: 4px; color: rgb(167, 167, 167); }

.date { font-size: 28px; line-height: 28px; font-weight: bold; color: rgb(31, 31, 31); font-family: Helvetica, Arial, 'Microsoft Yahei', Simsun; }

.gyfkboxp { padding-top: 5px; padding-right: 11px; padding-bottom: 5px; padding-left: 11px; background-color: rgb(253, 253, 253); }

.gyfkboxp2 { padding-top: 5px; padding-right: 11px; padding-bottom: 5px; padding-left: 11px; background-color: rgb(243, 243, 243); }

.gyfktopwz { font-size: 16px; padding-top: 12px; padding-right: 11px; padding-bottom: 5px; padding-left: 11px; }

.fbtimebox { position: absolute; width: 81px; height: 28px; top: -16px; background-color: rgb(243, 243, 243); }

.fbtimemain { margin-top: 16px; border-top-width: 2px; border-top-style: solid; border-top-color: rgb(90, 159, 32); height: 22px; position: relative; }

.fbtimecss { height: 40px; padding-right: 11px; padding-bottom: 0px; padding-left: 11px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(243, 243, 243); border-right-color: rgb(243, 243, 243); border-bottom-color: rgb(243, 243, 243); border-left-color: rgb(243, 243, 243); border-image: initial; padding-top: 32px; }

.xtxu { margin-top: 0px; margin-right: 11px; margin-bottom: 0px; margin-left: 11px; height: 2px; border-top-width: 1px; border-top-style: dashed; border-top-color: rgb(204, 204, 204); }

.gywwztop { padding-top: 15px; height: 29px; line-height: 16px; font-size: 16px; color: rgb(50, 131, 36); }

.diqutan1 { width: 86px; top: 42px; }

.diqujant { padding-top: 0px; padding-right: 6px; padding-bottom: 0px; padding-left: 6px; width: 8px; border-left-style: none; border-left-width: initial; border-left-color: initial; }

.diquwzfont { text-align: left; width: 86px; font-size: 16px; }

.juse { color: rgb(251, 112, 17); }

.ssuonone { padding-top: 20px; color: rgb(140, 140, 140); line-height: 30px; height: 220px; padding-left: 29px; }

.ssuowz { font-size: 16px; line-height: 30px; padding-top: 8px; }

.zhuce input { -webkit-transition-property: all; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-image: initial; width: 100%; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; height: 35px; color: rgb(140, 140, 140); line-height: 35px; font-size: 18px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(152, 152, 152); -webkit-box-shadow: rgb(213, 213, 213) 0px 1px 0px inset; box-shadow: rgb(213, 213, 213) 0px 1px 0px inset; outline-style: none; outline-width: initial; outline-color: initial; }

.zhuce2 input { -webkit-transition-property: all; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; width: 100%; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; height: 35px; color: rgb(140, 140, 140); line-height: 35px; font-size: 18px; outline-style: none; outline-width: initial; outline-color: initial; border-top-color: rgb(251, 102, 0); border-right-color: rgb(251, 102, 0); border-bottom-color: rgb(251, 102, 0); border-left-color: rgb(251, 102, 0); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-image: initial; box-shadow: rgb(251, 102, 0) 0px 0px 5px; -webkit-box-shadow: rgb(251, 102, 0) 0px 0px 5px; }

.wjmma { text-align: right; font-size: 16px; height: 30px; }

.zhucebt { width: 100%; height: 36px; line-height: 36px; background-color: rgb(255, 255, 255); color: rgb(31, 31, 31); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(230, 230, 230); border-right-color: rgb(230, 230, 230); border-bottom-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-image: initial; }

.dlxinl { background-size: 40px; height: 40px; width: 40px; background-image: url(http://www.360doc.cn/images/tb43.png); float: left; background-repeat: no-repeat no-repeat; }

.dlqq { background-image: url(http://www.360doc.cn/images/tb44.png); }

.dlrren { background-image: url(http://www.360doc.cn/images/tb45.png); }

.yanzma { width: 102px; height: 32px; float: left; padding-left: 5px; padding-top: 2px; }

.denglgif { position: absolute; width: 30px; height: 30px; top: -1px; left: -25px; }

.denglwz { width: 44px; position: relative; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }

.tishiwz { font-size: 16px; height: 40px; color: rgb(255, 0, 0); line-height: 30px; }

.khduan { width: 300px; font-size: 16px; }

.khduan ul { }

.khduan li { line-height: 32px; background-image: url(http://www.360doc.cn/images/tb49.gif); padding-left: 10px; background-position: 0px 15px; background-repeat: no-repeat no-repeat; }

.p_search_seclet img { vertical-align: top; }

.prenbj { position: absolute; width: 310px; height: 90px; left: -240px; top: 32px; z-index: 100; }

.p_header_ren { background-size: 20px; float: left; height: 20px; width: 20px; text-indent: -99em; overflow-x: hidden; overflow-y: hidden; vertical-align: 0px; background-image: url(ren.png); background-repeat: no-repeat no-repeat; }

.rentouwz { float: left; width: 210px; padding-left: 20px; padding-top: 10px; }

.psearchbj2 { position: absolute; width: 310px; height: 120px; left: -280px; top: 32px; z-index: 100; }

.ui-swipeslide, .ui-swipeslide-reel, .ui-swipeslide-slide, .ui-swipeslide-slide img { display: block; }

.ui-swipeslide { position: relative; overflow-x: hidden; overflow-y: hidden; }

.ui-swipeslide-reel { -webkit-transform: translate3d(0px, 0px, 0px); overflow-x: hidden; overflow-y: hidden; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-backface-visibility: hidden; -webkit-transform-style: preserve-3d; }

.ui-swipeslide-vertical .ui-swipeslide-reel { -webkit-box-orient: vertical; }

.ui-swipeslide-slide { box-sizing: border-box; }

.ui-swipeslide-3d { -webkit-perspective: 1000; position: relative; overflow-x: visible; overflow-y: visible; }

.ui-swipeslide-3d .ui-swipeslide-reel { -webkit-transform-style: preserve-3d; display: block; width: 100%; height: 100%; overflow-x: visible; overflow-y: visible; }

.ui-swipeslide-3d .ui-swipeslide-slide { position: absolute; }

.ui-swipeslide-bullets { clear: both; overflow-x: hidden; overflow-y: hidden; font-size: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 0px; text-align: center; }

.ui-swipeslide-bullets li { display: inline-block; width: 20px; height: 2px; line-height: 20px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(198, 198, 198); background-size: initial; margin-top: 0px; margin-right: 4px; margin-bottom: 0px; margin-left: 4px; overflow-x: hidden; overflow-y: hidden; text-indent: 999em; background-position: initial initial; background-repeat: initial initial; }

.ui-swipeslide-bullets li.active { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(251, 134, 0); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

body.page-valid { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.txt { margin-top: 15px; margin-right: 15px; margin-bottom: 15px; margin-left: 15px; }

.txt p { margin-top: 15px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; }

.txt p b { font-size: 20px; }

.txt p .btn { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.txt .note p { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.txt .note { padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(238, 238, 238); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.txt a.line { text-decoration: underline; }

.num { height: 50px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 15px; line-height: 50px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(238, 238, 238); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.blue, a.blue { color: rgb(0, 140, 202); }

.gray { color: rgb(119, 119, 119); }

.status { }

.status p { text-align: center; }

.status-fail { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); }

.status-fail p { color: rgb(255, 0, 0); }

.status-success { padding-top: 150px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-image: url(http://www.360doc.cn/img/ico-valid.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: 50% 30px; background-repeat: no-repeat no-repeat; }

.media { height: 100px; margin-top: 10px; margin-right: 15px; margin-bottom: 10px; margin-left: 15px; overflow-x: hidden; overflow-y: hidden; }

.media a { display: block; }

.media img { float: left; width: 100px; height: 100px; }

.media p { margin-left: 110px; }

.media p small { display: block; margin-top: 5px; color: rgb(119, 119, 119); }

.btnstyle { background-color: transparent; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-bottom-style: none; }

.btnstyle2 { background-color: transparent; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-bottom-style: none; color: rgb(50, 131, 36); }

.btnstyle3 { background-color: transparent; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; width: 75px; height: 30px; margin-top: -3px; }

.imgcenter { text-align: center; }

.fontclass { font-size: 16px; }

.mui_tips { position: absolute; width: 100%; text-align: center; top: 0px; font-weight: bold; pointer-events: none; z-index: 99999999; }

.mui_tips { top: 120px; }

.mui_tips_success, .mui_tips_error { display: inline-block; width: 200px; padding-top: 10px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; color: white; text-align: center; font-weight: normal; background-color: rgba(0, 0, 0, 0.796875); border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-repeat: no-repeat no-repeat; }

.mui_tips_success { background-position: -360px -5px; }

.lyjl-xt { float: left; height: 40px; width: 140px; overflow-x: hidden; overflow-y: hidden; background-size: 140px 40px; background-image: url(http://www.360doc.cn/images/tb46.png); background-repeat: no-repeat no-repeat; }

.lyjl-lx { background-image: url(http://www.360doc.cn/images/tb47.png); }

.tanchu { position: fixed; float: left; height: 81px; width: 192px; overflow-x: hidden; overflow-y: hidden; background-size: 192px 81px; background-image: url(http://www.360doc.cn/images/tip.png); bottom: 5px; left: 64px; background-repeat: no-repeat no-repeat; }

.p_header_wz { background-size: 22px; float: left; height: 22px; width: 22px; text-indent: -99em; overflow-x: hidden; overflow-y: hidden; vertical-align: 0px; background-image: url(wenzi.png); background-repeat: no-repeat no-repeat; }

.col1 { width: 50px; height: 50px; background-color: rgb(243, 243, 243); position: relative; }

.col2 { width: 50px; height: 50px; background-color: rgb(43, 44, 48); position: relative; }

.col3 { width: 50px; height: 50px; background-color: rgb(230, 215, 181); position: relative; }

.col4 { width: 50px; height: 50px; background-color: rgb(218, 228, 237); position: relative; }

.col5 { width: 50px; height: 50px; background-color: rgb(200, 227, 204); position: relative; }

.colbj1 { background-color: rgb(243, 243, 243); margin-top: 12px; }

.colbj2 { background-color: rgb(43, 44, 48); margin-top: 12px; color: rgb(102, 102, 102); }

.colbj3 { background-color: rgb(230, 215, 181); margin-top: 12px; }

.colbj4 { background-color: rgb(218, 228, 237); margin-top: 12px; }

.colbj5 { background-color: rgb(200, 227, 204); margin-top: 12px; }

.yejian { background-color: rgb(43, 44, 48); color: rgb(102, 102, 102); }

.pwenzibj { position: absolute; width: 160px; height: 170px; left: -90px; top: 32px; z-index: 100; }

.pwenzi1 { background-size: 24px; float: left; height: 24px; width: 85px; padding-left: 34px; line-height: 24px; background-image: url(http://www.360doc.cn/images/font1.png); cursor: pointer; background-repeat: no-repeat no-repeat; }

.pwenzi2 { background-image: url(http://www.360doc.cn/images/font2.png); }

.pwenzi3 { background-image: url(http://www.360doc.cn/images/theme.png); }

.phuanfubj { position: absolute; width: 310px; height: 120px; left: -195px; top: 32px; z-index: 100; }

.wzhui { font-size: 14px; color: rgb(167, 167, 167); width: 50px; text-align: center; padding-top: 5px; }

.bjxzhong { background-image: url(http://www.360doc.cn/images/checked.png); position: absolute; width: 50px; height: 50px; top: 0px; left: 0px; background-repeat: no-repeat no-repeat; }

.triangle-isosceles { position: relative; padding-top: 10px; padding-right: 8px; padding-bottom: 10px; padding-left: 7px; background-color: rgb(232, 232, 235); border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; }

.triangle-isosceles.top { background-color: rgb(232, 232, 235); -webkit-box-shadow: rgb(150, 150, 150) 1px 1px 4px; box-shadow: rgb(150, 150, 150) 1px 1px 4px; }

.triangle-isosceles::after { content: ''; position: absolute; bottom: -10px; left: 50px; border-top-width: 10px; border-right-width: 10px; border-bottom-width: 0px; border-left-width: 10px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(232, 232, 235); border-right-color: transparent; border-bottom-color: rgb(232, 232, 235); border-left-color: transparent; display: block; width: 0px; }

.triangle-isosceles.top::after { top: -10px; right: 47px; bottom: auto; left: auto; border-top-width: 0px; border-right-width: 10px; border-bottom-width: 10px; border-left-width: 10px; border-top-color: rgb(232, 232, 235); border-right-color: transparent; border-bottom-color: rgb(232, 232, 235); border-left-color: transparent; }

.triangle-isosceles2 { position: relative; padding-top: 12px; padding-right: 8px; padding-bottom: 12px; padding-left: 7px; background-color: rgb(232, 232, 235); border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; }

.triangle-isosceles2.top { background-color: rgb(232, 232, 235); -webkit-box-shadow: rgb(150, 150, 150) 1px 1px 4px; box-shadow: rgb(150, 150, 150) 1px 1px 4px; }

.triangle-isosceles2::after { content: ''; position: absolute; bottom: -10px; left: 50px; border-top-width: 10px; border-right-width: 10px; border-bottom-width: 0px; border-left-width: 10px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(232, 232, 235); border-right-color: transparent; border-bottom-color: rgb(232, 232, 235); border-left-color: transparent; display: block; width: 0px; }

.triangle-isosceles2.top::after { top: -10px; right: 10px; bottom: auto; left: auto; border-top-width: 0px; border-right-width: 10px; border-bottom-width: 10px; border-left-width: 10px; border-top-color: rgb(232, 232, 235); border-right-color: transparent; border-bottom-color: rgb(232, 232, 235); border-left-color: transparent; }

.triangle-isosceles3 { position: relative; padding-top: 12px; padding-right: 8px; padding-bottom: 12px; padding-left: 7px; background-color: rgb(232, 232, 235); border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; }

.triangle-isosceles3.top { background-color: rgb(232, 232, 235); -webkit-box-shadow: rgb(150, 150, 150) 1px 1px 4px; box-shadow: rgb(150, 150, 150) 1px 1px 4px; }

.triangle-isosceles3::after { content: ''; position: absolute; bottom: -10px; left: 50px; border-top-width: 10px; border-right-width: 10px; border-bottom-width: 0px; border-left-width: 10px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(232, 232, 235); border-right-color: transparent; border-bottom-color: rgb(232, 232, 235); border-left-color: transparent; display: block; width: 0px; }

.triangle-isosceles3.top::after { top: -10px; right: 93px; bottom: auto; left: auto; border-top-width: 0px; border-right-width: 10px; border-bottom-width: 10px; border-left-width: 10px; border-top-color: rgb(232, 232, 235); border-right-color: transparent; border-bottom-color: rgb(232, 232, 235); border-left-color: transparent; }

.prenbjaaaa { position: absolute; width: 310px; height: 90px; left: -246px; top: 40px; }

.yemanum { min-width: 40px; height: 20px; background-color: rgb(61, 61, 61); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-size: 12px; position: absolute; }

.hei { }

.hei a:link { color: rgb(57, 57, 57); text-decoration: underline; }

.hei a:visited { color: rgb(57, 57, 57); text-decoration: underline; }

.hei a:hover { color: rgb(57, 57, 57); text-decoration: underline; }

.ju1 { color: rgb(255, 132, 0); }

.fontzt { font-size: 36px; color: rgb(90, 159, 34); line-height: 36px; }

.nzboxtop { background-image: url(http://www.360doc.cn/images/2.gif); height: 90px; padding-top: 30px; margin-right: 8px; background-position: 100% 100%; background-repeat: no-repeat no-repeat; }

.jangz { background-image: url(http://www.360doc.cn/images/3.gif); padding-top: 83px; padding-right: 36px; padding-bottom: 0px; padding-left: 38px; height: 132px; color: rgb(123, 122, 120); font-size: 16px; background-repeat: no-repeat no-repeat; }

.moqirt img { width: 40px; height: 40px; border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px, rgba(0, 0, 0, 0.0976563) 0px 0px 40px inset; }

.xiant { background-image: url(http://www.360doc.cn/images/22.gif); min-width: 45px; text-align: center; height: 28px; font-size: 16px; line-height: 28px; padding-top: 0px; padding-right: 4px; padding-bottom: 0px; padding-left: 4px; background-position: 0% 100%; background-repeat: repeat no-repeat; }

.name2 a { text-decoration: underline; color: rgb(50, 131, 36); }

.juse1 a { text-decoration: underline; color: rgb(255, 132, 0); }

.tuijianyuedu1 { height: 50px; background-color: rgb(255, 255, 255); padding-top: 0px; padding-right: 12px; padding-bottom: 0px; padding-left: 12px; }

.tuijianyuedu1 ul li { float: left; width: 50%; }

.tuijianyuedu2 { height: 50px; padding-top: 0px; padding-right: 12px; padding-bottom: 0px; padding-left: 12px; }

.tuijianyuedu2 ul li { float: left; width: 50%; }

.tuijianyuedu_bj { background-size: 32px; float: left; height: 32px; width: 80px; font-size: 16px; padding-left: 46px; line-height: 32px; }

.tuijianyuedu_jptj { background-image: url(http://www.360doc.cn/images/wxtj1.png); background-repeat: no-repeat no-repeat; }

.tuijianyuedu_jptj2 { background-image: url(http://www.360doc.cn/images/wxtj2.png); background-repeat: no-repeat no-repeat; }

.tuijianyuedu_jptj3 { background-image: url(http://www.360doc.cn/images/wxtj3.png); background-repeat: no-repeat no-repeat; }

.tuijianyuedu_jptj4 { background-image: url(http://www.360doc.cn/images/wxtj5.png); background-repeat: no-repeat no-repeat; }

.tuijianyuedu_jptj5 { background-image: url(http://www.360doc.cn/images/wxtj6.png); background-repeat: no-repeat no-repeat; }

.mailyz { background-size: 53px 55px; float: left; height: 55px; width: 223px; background-image: url(http://www.360doc.cn/images/aq4.png); padding-left: 60px; background-repeat: no-repeat no-repeat; }

.bdingcg { color: rgb(51, 51, 51); line-height: 22px; font-weight: bold; padding-left: 10px; }

.bdnum { clear: both; color: rgb(108, 108, 108); padding-left: 10px; padding-top: 10px; font-size: 14px; word-break: break-all; }
