.pln { color: rgb(0, 0, 0); }

@media screen { 
  .str { color: rgb(0, 136, 0); }
  .kwd { color: rgb(0, 0, 136); }
  .com { color: rgb(136, 0, 0); }
  .typ { color: rgb(102, 0, 102); }
  .lit { color: rgb(0, 102, 102); }
  .pun, .opn, .clo { color: rgb(102, 102, 0); }
  .tag { color: rgb(0, 0, 136); }
  .atn { color: rgb(102, 0, 102); }
  .atv { color: rgb(0, 136, 0); }
  .dec, .var { color: rgb(102, 0, 102); }
  .fun { color: red; }
}

@media print, projection { 
  .str { color: rgb(0, 102, 0); }
  .kwd { color: rgb(0, 0, 102); font-weight: bold; }
  .com { color: rgb(102, 0, 0); font-style: italic; }
  .typ { color: rgb(68, 0, 68); font-weight: bold; }
  .lit { color: rgb(0, 68, 68); }
  .pun, .opn, .clo { color: rgb(68, 68, 0); }
  .tag { color: rgb(0, 0, 102); font-weight: bold; }
  .atn { color: rgb(68, 0, 68); }
  .atv { color: rgb(0, 102, 0); }
}

pre.prettyprint { padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(136, 136, 136); border-right-color: rgb(136, 136, 136); border-bottom-color: rgb(136, 136, 136); border-left-color: rgb(136, 136, 136); border-image: initial; }

ol.linenums { margin-top: 0px; margin-bottom: 0px; }

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: none; }

li.L1, li.L3, li.L5, li.L7, li.L9 { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(238, 238, 238); background-size: initial; background-position: initial initial; background-repeat: initial initial; }
