.dp-highlighter { font-family: Consolas, 'Courier New', Courier, mono, serif; font-size: 12px; background-color: rgb(231, 229, 220); width: 99%; overflow-x: auto; overflow-y: auto; margin-top: 18px !important; margin-right: 0px !important; margin-bottom: 18px !important; margin-left: 0px !important; padding-top: 1px; text-align: left; }

.dp-highlighter ol, .dp-highlighter ol li, .dp-highlighter ol li span { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; }

.dp-highlighter a, .dp-highlighter a:hover { background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; background-position: initial initial; background-repeat: initial initial; }

.dp-highlighter .bar { padding-left: 45px; }

.dp-highlighter.collapsed .bar, .dp-highlighter.nogutter .bar { padding-left: 0px; }

.dp-highlighter ol { list-style-type: decimal; list-style-position: initial; list-style-image: initial; background-color: rgb(255, 255, 255); margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 1px !important; margin-left: 45px !important; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(92, 92, 92); }

.dp-highlighter.nogutter ol, .dp-highlighter.nogutter ol li { list-style-type: none !important; list-style-position: initial !important; list-style-image: initial !important; margin-left: 0px !important; }

.dp-highlighter ol li, .dp-highlighter .columns div { list-style-type: decimal-leading-zero; list-style-image: initial; list-style-position: outside !important; border-left-width: 3px; border-left-style: solid; border-left-color: rgb(108, 226, 108); background-color: rgb(248, 248, 248); color: rgb(92, 92, 92); padding-top: 0px !important; padding-right: 3px !important; padding-bottom: 0px !important; padding-left: 10px !important; margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; line-height: 150%; }

.dp-highlighter.nogutter ol li, .dp-highlighter.nogutter .columns div { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; }

.dp-highlighter .columns { background-color: rgb(248, 248, 248); color: gray; overflow-x: hidden; overflow-y: hidden; width: 100%; }

.dp-highlighter .columns div { padding-bottom: 5px; }

.dp-highlighter ol li.alt { background-color: rgb(255, 255, 255); color: inherit; }

.dp-highlighter ol li span { color: black; background-color: inherit; }

.dp-highlighter.collapsed ol { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.dp-highlighter.collapsed ol li { display: none; }

.dp-highlighter.printing { border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; }

.dp-highlighter.printing .tools { display: none !important; }

.dp-highlighter.printing li { display: list-item !important; }

.dp-highlighter .tools { padding-top: 3px; padding-right: 8px; padding-left: 10px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; color: silver; background-color: rgb(248, 248, 248); padding-bottom: 10px; border-left-width: 3px; border-left-style: solid; border-left-color: rgb(108, 226, 108); }

.dp-highlighter.nogutter .tools { border-left-width: 0px; border-left-style: initial; border-left-color: initial; }

.dp-highlighter.collapsed .tools { border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; }

.dp-highlighter .tools a { font-size: 9px; color: rgb(160, 160, 160); background-color: inherit; text-decoration: none; margin-right: 10px; }

.dp-highlighter .tools a:hover { color: red; background-color: inherit; text-decoration: underline; }

.dp-about { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }

.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }

.dp-about td { padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; vertical-align: top; }

.dp-about .copy { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(172, 168, 153); height: 95%; }

.dp-about .title { color: red; background-color: inherit; font-weight: bold; }

.dp-about .para { margin-top: 0px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px; }

.dp-about .footer { background-color: rgb(236, 234, 219); color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(255, 255, 255); text-align: right; }

.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: rgb(236, 234, 219); color: rgb(51, 51, 51); width: 60px; height: 22px; }

.dp-highlighter .comment, .dp-highlighter .comments { color: rgb(0, 130, 0); background-color: inherit; }

.dp-highlighter .string { color: blue; background-color: inherit; }

.dp-highlighter .keyword { color: rgb(0, 102, 153); font-weight: bold; background-color: inherit; }

.dp-highlighter .preprocessor { color: gray; background-color: inherit; }

.dp-xml .cdata { color: rgb(255, 20, 147); }

.dp-xml .tag, .dp-xml .tag-name { color: rgb(153, 51, 0); font-weight: bold; }

.dp-xml .attribute { color: red; }

.dp-xml .attribute-value { color: blue; }

.dp-sql .func { color: rgb(255, 20, 147); }

.dp-sql .op { color: rgb(128, 128, 128); }

.dp-rb .symbol { color: rgb(170, 119, 0); }

.dp-rb .variable { color: rgb(170, 119, 0); font-weight: bold; }

.dp-py .builtins { color: rgb(255, 20, 147); }

.dp-py .magicmethods { color: rgb(128, 128, 128); }

.dp-py .exceptions { color: rgb(165, 42, 42); }

.dp-py .types { color: rgb(165, 42, 42); font-style: italic; }

.dp-py .commonlibs { color: rgb(138, 43, 226); font-style: italic; }

.dp-j .annotation { color: rgb(100, 100, 100); }

.dp-j .number { color: rgb(192, 0, 0); }

.dp-delphi .number { color: blue; }

.dp-delphi .directive { color: rgb(0, 130, 132); }

.dp-delphi .vars { color: rgb(0, 0, 0); }

.dp-css .value { color: black; }

.dp-css .important { color: red; }

.dp-c .vars { color: rgb(221, 0, 0); }

.dp-cpp .datatypes { color: rgb(46, 139, 87); font-weight: bold; }

.dp-highlighter .bar a { display: inline-block; width: 16px; height: 16px; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; text-indent: -2000px; background-position: 0% 0%; background-repeat: no-repeat no-repeat; }

.dp-highlighter .bar a:hover { border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-image: initial; text-decoration: none; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-repeat: no-repeat no-repeat; }

.dp-highlighter .bar a.ExpandSource { }

.dp-highlighter .bar a.ViewSource { background-image: url(http://static.blog.csdn.net/scripts/SyntaxHighlighter/styles/images/default/ico_plain.gif); }

.dp-highlighter .bar a.CopyToClipboard { background-image: url(http://static.blog.csdn.net/scripts/SyntaxHighlighter/styles/images/default/ico_copy.gif); }

.dp-highlighter .bar a.PrintSource { display: none; }

.dp-highlighter .bar a.About { display: none; }
