.section-title-b { background-color: rgb(243, 243, 243); }

.section-title-wap .title-comment-wap .comment-wrap-b { color: rgb(51, 51, 51); }

.section-title-wap .title-comment-wap .comment-wrap-wap .wrap-number-b { color: rgb(255, 255, 255); background-image: url(wapb01.png); background-size: 0.25em; background-position: 100% 0%; background-repeat: no-repeat no-repeat; }

.section-title-wap .title-comment-wap .comment-wrap-wap .wrap-number-wap .number-arrows-b { background-color: rgb(238, 84, 42); }

.section-title-wap .title-user-wap .user-name-b { color: rgb(51, 51, 51); }

.section-cbox-b { background-color: rgb(243, 243, 243); }

.section-cbox-wap .cbox-post-b { border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(204, 212, 217); border-right-color: rgb(204, 212, 217); border-bottom-color: rgb(204, 212, 217); border-left-color: rgb(204, 212, 217); border-image: initial; background-color: rgb(255, 255, 255); }

.section-cbox-wap .cbox-post-wap .post-area-wap .area-text-b { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; color: rgb(153, 153, 153); }

.section-cbox-wap .cbox-post-wap .post-area-wap .area-prompt-b { background-color: rgb(254, 242, 225); }

.section-cbox-wap .cbox-post-wap .post-area-wap .area-prompt-wap span { color: rgb(238, 84, 42); }

.section-cbox-wap .cbox-post-wap .post-action-b { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 212, 217); background-color: rgb(250, 250, 250); }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-upload-b { border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 212, 217); }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-upload-wap .upload-mutual-wap .mutual-pic-b { background-image: url(wapb02.png.avi); background-size: 1.25em; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-upload-wap .upload-mutual-wap:hover .mutual-pic-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb03.png); background-size: 1.25em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-upload-img-b { border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 212, 217); }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-upload-img-wap .wrap-close-wap { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb22.png); background-size: 0.625em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-uploading-wap .uploading-wrap-wap .wrap-icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb09.gif); background-size: 1.0625em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-site-wap .site-wrap-wap .wrap-cbox-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb04.png); background-size: 0.875em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-site-e .site-wrap-wap .wrap-cbox-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb05.png); background-size: 0.875em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-site-wap .site-wrap-wap .wrap-text-b { color: rgb(167, 180, 188); }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-btn-wap .btn-mutual-b { background-image: url(wapb06.png.avi); background-size: 4.6875em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-btn-wap .btn-mutual-b:hover { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb07.png); background-size: 4.6875em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-btn-e .btn-mutual-b, .section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-btn-e .btn-mutual-b:hover { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb08.png); background-size: 4.6875em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-btn-e .btn-mutual-wap .mutual-btn-wap { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb09.gif); background-size: 1.0625em; background-position: 0.375em 0.75em; background-repeat: no-repeat no-repeat; }

.section-list-wap .list-kinds-wap .kinds-title-b { color: rgb(87, 136, 170); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(87, 136, 170); }

.section-list-wap .list-kinds-wap .kinds-comment-b { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(217, 217, 217); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .floor-num-wap { color: rgb(205, 205, 205); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-wrap-wap .wrap-pic-wap .pic-box-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb11.png); background-size: 1.875em; background-repeat: no-repeat no-repeat; }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-wrap-wap .wrap-pic-wap .pic-box-wap .box-border-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb12.png); background-size: 1.875em; background-repeat: no-repeat no-repeat; }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-wrap-wap .wrap-msg-wap .msg-name-b { color: rgb(51, 51, 51); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-wrap-wap .wrap-msg-wap .msg-time-b { color: rgb(184, 184, 184); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-praise-wap .praise-number-b { color: rgb(184, 184, 184); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-praise-e .praise-number-b { color: rgb(87, 136, 170); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-praise-wap .praise-icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb13.png); background-size: 1.1875em; background-repeat: no-repeat no-repeat; }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-header-wap .header-praise-e .praise-icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb14.png); background-size: 1.1875em; background-repeat: no-repeat no-repeat; }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-cont-wap .cont-text-b { color: rgb(51, 51, 51); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-build-wrap-wap .wrap-build-b { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(204, 212, 217); border-right-color: rgb(204, 212, 217); border-bottom-color: rgb(204, 212, 217); border-left-color: rgb(204, 212, 217); border-image: initial; }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-build-wrap-wap .wrap-build-wap .build-inner-wap { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; background-color: rgb(246, 246, 246); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-build-wrap-wap .wrap-build-wap .build-inner-wap .comment-cont-wap .cont-title-wap .title-name-b { color: rgb(51, 51, 51); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-build-wrap-wap .wrap-build-wap .build-inner-wap .comment-cont-wap .cont-title-wap .title-floors-b { color: rgb(184, 184, 184); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-build-wrap-wap .wrap-build-wap .build-inner-wap .wrap-build-middle-b { border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(204, 212, 217); border-bottom-color: rgb(204, 212, 217); border-left-color: rgb(204, 212, 217); border-image: initial; border-top-width: 0px; border-top-style: initial; border-top-color: initial; }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-build-wrap-wap .wrap-build-wap .build-inner-wap .wrap-build-middle-wap .middle-inner-b { border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-image: initial; border-top-width: 0px; border-top-style: initial; border-top-color: initial; }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-reply-b { background-color: rgb(0, 0, 0); }

.section-list-wap .list-kinds-wap .kinds-comment-wap .comment-reply-wap span { color: rgb(255, 255, 255); }

.section-page-wap .page-count-wap .count-mutual-b { background-color: rgb(87, 136, 170); color: rgb(255, 255, 255); }

.section-page-wap .page-count-wap .count-mutual-b:hover { background-color: rgb(65, 106, 135); color: rgb(204, 212, 217); }

.section-page-wap .page-count-e .count-loading-b { color: rgb(167, 180, 188); background-color: rgb(243, 243, 243); }

.section-page-wap .page-count-e .count-loading-wap i.loading-icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb09.gif); background-size: 1.0625em; background-repeat: no-repeat no-repeat; }

.section-service-wap .service-jump-wap { background-color: transparent; }

.section-service-wap .service-jump-wap .jump-text-b { color: rgb(51, 51, 51); }

.section-service-wap .service-jump-wap .jump-text-wap .text-icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb10.png); background-size: 1em; background-repeat: no-repeat no-repeat; }

.section-issuelogin-b { background-color: rgb(255, 255, 255); }

.section-issuelogin-wap .issue-wrap-wap .wrap-title-b { color: rgb(0, 0, 0); }

.section-issuelogin-wap .issue-wrap-wap .wrap-user-b { border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(204, 212, 217); border-right-color: rgb(204, 212, 217); border-bottom-color: rgb(204, 212, 217); border-left-color: rgb(204, 212, 217); border-image: initial; }

.section-issuelogin-wap .issue-wrap-wap .wrap-user-wap .user-name-b { background-color: rgb(242, 242, 242); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 212, 217); }

.section-issuelogin-wap .issue-wrap-wap .wrap-user-wap .user-name-wap .name-text-b { color: rgb(51, 51, 51); }

.section-issuelogin-wap .issue-wrap-wap .wrap-user-wap .user-verify-wap .verify-text-b { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; color: rgb(167, 180, 188); }

.section-issuelogin-wap .issue-wrap-wap .wrap-submit-b a { background-color: rgb(87, 136, 170); color: rgb(255, 255, 255); }

.section-issuelogin-wap .issue-wrap-wap .wrap-submit-b a:hover { background-color: rgb(65, 106, 135); }

.section-issuelogin-wap .login-wrap-b { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(217, 217, 217); }

.section-issuelogin-wap .login-wrap-wap .wrap-title-b { color: rgb(0, 0, 0); }

.section-issuelogin-wap .login-wrap-wap .wrap-site-wap li.site-other-wap span.icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb17.png); background-size: 2.25em; background-repeat: no-repeat no-repeat; }

.section-issuelogin-wap .login-wrap-wap .wrap-site-wap li.site-sina-wap span.icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb18.png); background-size: 2.25em; background-repeat: no-repeat no-repeat; }

.section-issuelogin-wap .login-wrap-wap .wrap-site-wap li.site-renren-wap span.icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb19.png); background-size: 2.25em; background-repeat: no-repeat no-repeat; }

.section-issuelogin-wap .login-wrap-wap .wrap-site-wap li.site-qq-wap span.icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb20.png); background-size: 2.25em; background-repeat: no-repeat no-repeat; }

.section-issuelogin-wap .login-wrap-wap .wrap-site-wap li.site-sohu-wap span.icon-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb21.png); background-size: 2.25em; background-repeat: no-repeat no-repeat; }

.reset-g .wap-scores ul li .wap-score-ico { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/score-ico.png); background-size: 1.08em; background-position: -0.1875em -0.075em; }

.reset-g .wap-scores ul li .wap-score-ico-selected { background-position: -0.1875em -1.153em; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-face-b { border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 212, 217); }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-face-wap .face-mutual-wap .mutual-pic-b { background-image: url(wapb23.png.avi); background-size: 1.3125em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-face-wap .face-mutual-wap:hover .mutual-pic-b { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb24.png); background-size: 1.3125em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .face-box-wap { background-color: rgb(255, 255, 255); }

.section-cbox-wap .face-box-wap .box-cont-wap { background-color: rgb(255, 255, 255); border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(204, 212, 217); border-bottom-color: rgb(204, 212, 217); border-left-color: rgb(204, 212, 217); border-image: initial; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 212, 217); }

.section-cbox-wap .face-box-wap .box-cont-wap .cont-list-wap li:hover { background-color: rgb(240, 240, 240); }

.section-cbox-wap .face-box-wap .box-cont-wap .cont-page-wap span { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb25.png); background-size: 0.8em; background-repeat: no-repeat no-repeat; }

.section-cbox-wap .face-box-wap .box-cont-wap .cont-page-wap span.page-now-wap { background-image: url(http://changyan.itc.cn/upload/mobile/v1/wap-imgs/wapb26.png); background-size: 0.8em; background-repeat: no-repeat no-repeat; }

.section-page-wap .page-count-wap .all-comments-wap { background-color: rgb(250, 250, 250); color: rgb(102, 102, 102); border-top-color: rgb(238, 238, 238); border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; }
