@charset "utf-8";

.commentform ul { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.commentform li { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; list-style-type: none; }
