@charset "utf-8";

@import url("..../css/common.css") ;

body { background-image: url(http://static.blog.csdn.net/skin/light_blue/images/body_bg.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; font-size: 12px; font-family: Arial, Console, Verdana, 'Courier New'; background-position: 50% 0%; background-repeat: repeat no-repeat; }

p { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }

a { color: rgb(255, 153, 0); text-decoration: none; }

a:hover { text-decoration: none; color: rgb(34, 0, 0); }

#container { background-image: url(http://static.blog.csdn.net/skin/light_blue/images/head_bg.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: 50% -25px; background-repeat: no-repeat no-repeat; }

.csdn-toolbar .container { width: 96%; max-width: 1200px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }

#header { width: 980px; height: 36px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: left; }

#blog_title h2 { margin-top: 0px; margin-right: 25px; margin-bottom: 0px; margin-left: 0px; color: rgb(0, 51, 102); font-family: 'Microsoft YaHei'; font-size: 32px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 32px; }

#blog_title h3 { margin-left: 70px; padding-top: 2px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(0, 51, 102); font-family: 'Microsoft YaHei'; font-size: 15px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 30px; }

#blog_title a { color: rgb(255, 255, 255); }

#blog_title a:hover { color: rgb(221, 238, 255); text-decoration: none; }

#navigator { display: block; clear: both; height: 42px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 96%; max-width: 1200px; padding-top: 100px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: left; }

.navigator { text-align: right; }

.navigator::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

.navigator ul { float: right; }

.navigator li { display: inline; float: left; margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 5px; }

.navigator li a { display: inline-block; height: 26px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; color: rgb(102, 102, 102); background-image: url(btn_pub_nav.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 26px; text-decoration: none; cursor: pointer; background-position: 0% 0px; background-repeat: no-repeat no-repeat; }

.navigator li a span { display: inline-block; height: 16px; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 0px; background-image: url(btn_pub_nav.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; line-height: 16px; background-position: 100% -26px; background-repeat: no-repeat no-repeat; }

.navigator li a span img { margin-top: 0px; margin-right: 4px; margin-bottom: 0px; margin-left: 0px; vertical-align: middle; }

#body { display: block; width: 96%; max-width: 1200px; margin-top: 10px; margin-right: auto; margin-bottom: 10px; margin-left: auto; text-align: left; }

#body::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

.panel_head { clear: both; height: 30px; padding-top: 0px; padding-right: 5px; padding-bottom: 0px; padding-left: 5px; background-image: url(http://static.blog.csdn.net/skin/light_blue/images/tit_bg.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; color: rgb(51, 51, 51); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 30px; text-indent: 5px; background-position: 50% 0%; background-repeat: repeat no-repeat; }

.panel { margin-top: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(128, 223, 234); border-right-color: rgb(128, 223, 234); border-bottom-color: rgb(128, 223, 234); border-left-color: rgb(128, 223, 234); border-image: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(244, 251, 251); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.side .panel_body { padding-top: 4px; padding-right: 10px; padding-bottom: 4px; padding-left: 10px; }

.panel_body li { color: rgb(102, 102, 102); margin-top: 8px; margin-right: 0px; margin-bottom: 8px; margin-left: 0px; }

.panel_body li span { }

.panel_body li a { }

#main { float: right; width: 100%; margin-left: -210px; overflow-x: hidden; overflow-y: hidden; }

#main .main { min-width: 700px; margin-left: 210px; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(128, 223, 234); border-right-color: rgb(128, 223, 234); border-bottom-color: rgb(128, 223, 234); border-left-color: rgb(128, 223, 234); border-image: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

#notice { margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px; }

.notice { margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; padding-top: 2px; padding-right: 4px; padding-bottom: 2px; padding-left: 20px; border-top-style: dashed; border-right-style: dashed; border-bottom-style: dashed; border-left-style: dashed; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(248, 204, 126); border-right-color: rgb(248, 204, 126); border-bottom-color: rgb(248, 204, 126); border-left-color: rgb(248, 204, 126); border-image: initial; background-image: url(http://static.blog.csdn.net/images/ico_notice.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 252, 231); background-size: initial; font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 22px; background-position: 5px 50%; background-repeat: no-repeat no-repeat; }

.notice a { color: rgb(255, 90, 0); }

.list_item { display: block; clear: both; background-image: url(http://static.blog.csdn.net/skin/light_blue/images/line_1.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: 50% 100%; background-repeat: repeat no-repeat; }

.list_item::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

.list { margin-top: 20px; margin-right: 20px; margin-bottom: 0px; margin-left: 20px; }

.article_title { display: block; margin-top: 5px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px; color: rgb(0, 0, 0); font-family: 'Microsoft YaHei'; font-size: 20px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 30px; }

.article_title::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

.article_title a { color: rgb(51, 51, 51); }

.article_title a:hover { color: rgb(102, 102, 102); }

.article_title .ico { display: inline-block; width: 19px; height: 19px; margin-top: 0px; margin-right: 2px; margin-bottom: 0px; margin-left: 0px; }

.article_title .ico_type_Original { background-image: url(ico_Original.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; vertical-align: middle; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

.article_title .ico_type_Repost { background-image: url(http://static.blog.csdn.net/images/ico_Repost.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; vertical-align: middle; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

.article_title .ico_type_Translated { background-image: url(http://static.blog.csdn.net/images/ico_Translated.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; vertical-align: middle; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

.article_title h1 { display: inline; font-family: 'Microsoft YaHei'; font-size: 20px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 30px; vertical-align: middle; }

.article_description { color: rgb(102, 102, 102); font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 24px; }

.article_manage { padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; color: rgb(153, 153, 153); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 24px; text-align: right; }

.article_manage span { margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 5px; }

.article_manage .link_postdate { margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; }

.article_manage .link_view { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 14px; background-image: url(http://static.blog.csdn.net/images/ico_view.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: 0% 50%; background-repeat: no-repeat no-repeat; }

.article_manage .link_comments { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 14px; background-image: url(http://static.blog.csdn.net/images/ico_comm.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: 0% 50%; background-repeat: no-repeat no-repeat; }

.article_manage .link_categories { float: left; }

.list_view { margin-top: 0px; margin-right: 20px; margin-bottom: 0px; margin-left: 20px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; }

.list_view .article_title { display: inline; float: left; height: 30px; overflow-x: hidden; overflow-y: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; font-family: Arial !important; font-size: 14px !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; line-height: 30px !important; }

.list_view .article_title::after { content: '...'; }

.list_view .article_title h3 { font-family: Arial !important; font-size: 12px !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; line-height: 30px !important; }

.list_view .article_title h1 { font-family: Arial !important; font-size: 12px !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; line-height: 30px !important; }

.list_view .article_manage { display: inline; float: right; padding-top: 0px !important; padding-right: 0px !important; padding-bottom: 0px !important; padding-left: 0px !important; line-height: 30px !important; text-align: right !important; white-space: nowrap; }

.list_view .article_description { display: none !important; }

.list_view .article_manage span { margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; }

.details { margin-top: 20px; margin-right: 20px; margin-bottom: 20px; margin-left: 20px; }

.details .article_content { margin-top: 20px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 26px; }

.article_next_prev { display: block; color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 24px; clear: both; float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; padding-top: 10px; }

.article_next_prev li { list-style-type: none; clear: both; padding-top: 0px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; overflow-x: hidden; overflow-y: hidden; }

.article_next_prev::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

.article_next_prev li span { display: block; float: left; width: 52px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 27px; height: 26px; background-color: rgb(153, 153, 153); color: rgb(255, 255, 255); font-size: 14px; margin-right: 7px; }

.article_next_prev li:hover span { background-color: rgb(204, 0, 0); }

.article_next_prev li.prev_article span { background-image: url(blog-page-arr.png); background-position: 9px 8px; background-repeat: no-repeat no-repeat; }

.article_next_prev li.next_article span { background-image: url(blog-page-arr.png); background-position: 9px -22px; background-repeat: no-repeat no-repeat; }

.article_next_prev li a { display: block; float: left; font-size: 14px; color: rgb(51, 51, 51); }

.article_next_prev li a:link, .article_next_prev li a:visited, .article_next_prev li a:hover { color: rgb(51, 51, 51); }

.article_next_prev li:hover a, .article_next_prev li:hover a:link, .article_next_prev li:hover a:visited, .article_next_prev li:hover a:hover { color: rgb(204, 0, 0); }

.commentform ul { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.commentform li { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; list-style-type: none; }

.ico_expert { width: 69px; height: 60px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; background-image: url(http://static.blog.csdn.net/images/ico_expert.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

#digg { display: block; clear: both; width: 182px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 30px; padding-right: 0px; padding-bottom: 15px; padding-left: 0px; text-align: center; }

#digg::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

.digg { display: inline-block; float: left; width: 72px; height: 72px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 2px; margin-bottom: 0px; margin-left: 2px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 121, 0); background-size: initial; text-align: center; background-position: initial initial; background-repeat: initial initial; }

.digg dt { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 12px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; color: rgb(255, 255, 255); font-family: 'Microsoft YaHei'; font-size: 27px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 30px; }

.digg dd { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; color: rgb(255, 0, 0); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 22px; }

.digg_enable { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 121, 0); background-size: initial; text-align: center; cursor: pointer; background-position: initial initial; background-repeat: initial initial; }

.digg_disable { color: rgb(255, 255, 255); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(153, 153, 153); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.digg_disable dd { color: rgb(255, 255, 255); }

.pagelist { clear: both; padding-top: 15px; padding-right: 0px; padding-bottom: 15px; padding-left: 0px; color: rgb(102, 102, 102); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 24px; text-align: center; }

.pagelist a { display: inline-block; height: 22px; margin-top: 0px; margin-right: 2px; margin-bottom: 0px; margin-left: 2px; padding-top: 0px; padding-right: 8px; padding-bottom: 0px; padding-left: 8px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(219, 229, 238); border-right-color: rgb(219, 229, 238); border-bottom-color: rgb(219, 229, 238); border-left-color: rgb(219, 229, 238); border-image: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-size: initial; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 22px; cursor: pointer; background-position: initial initial; background-repeat: initial initial; }

.pagelist strong { display: inline-block; height: 24px; margin-top: 0px; margin-right: 3px; margin-bottom: 0px; margin-left: 3px; padding-top: 0px; padding-right: 8px; padding-bottom: 0px; padding-left: 8px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(7, 81, 154); background-size: initial; color: rgb(255, 255, 255); font-weight: normal; line-height: 24px; text-decoration: none; background-position: initial initial; background-repeat: initial initial; }

.pagelist a:hover { height: 24px; margin-top: 0px; margin-right: 3px; margin-bottom: 0px; margin-left: 3px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(7, 81, 154); background-size: initial; color: rgb(255, 255, 255); line-height: 24px; text-decoration: none; background-position: initial initial; background-repeat: initial initial; }

.pagelist a.select { cursor: default; }

#side { float: left; width: 200px; overflow-x: hidden; overflow-y: hidden; line-height: 120%; }

#side .side { }

#side a { color: rgb(0, 0, 0); }

#side a:hover { color: rgb(34, 0, 0); }

#panel_Profile { }

#panel_Profile span { color: rgb(51, 51, 51); }

.ico_expert { background-image: url(http://static.blog.csdn.net/skin/light_blue/images/ico_expert.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: initial initial; background-repeat: no-repeat no-repeat; }

#blog_userface { margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; text-align: center; }

#blog_userface img { max-width: 160px; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-image: initial; }

#blog_userface span { display: block; font-weight: bold; text-align: center; }

#blog_medal { text-align: center; }

#blog_rank { display: block; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; background-image: url(http://static.blog.csdn.net/skin/light_blue/images/line_1.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; color: rgb(102, 102, 102); background-position: 50% 100%; background-repeat: repeat no-repeat; }

#blog_rank::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

#blog_rank li { }

#blog_rank li span { color: rgb(51, 51, 51); }

#blog_statistics { display: block; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; color: rgb(102, 102, 102); }

#blog_statistics::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

#blog_statistics li { float: left; width: 100%; margin-top: 4px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px; }

#blog_statistics li span { color: rgb(51, 51, 51); }

#blog_statistics li a { }

#panel_Search { }

#panel_Search .panel_body::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

#panel_Search .panel_body span { float: left; }

#panel_Search .form_search { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-size: initial; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-image: initial; display: block; height: 24px; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 3px; padding-bottom: 0px; padding-left: 3px; background-position: initial initial; background-repeat: initial initial; }

#panel_Search .panel_body .blogsearch { border-top-width: medium; border-right-width: medium; border-bottom-width: medium; border-left-width: medium; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-color: initial; border-image: initial; color: rgb(102, 102, 102); height: 20px; margin-top: 2px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; width: 140px; }

#btnSubmit { background-image: url(http://static.blog.csdn.net/skin/light_blue/images/ico_sear.gif); background-attachment: scroll; background-origin: initial; background-clip: initial; background-color: transparent; background-size: initial; border-top-width: medium; border-right-width: medium; border-bottom-width: medium; border-left-width: medium; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-color: initial; border-image: initial; cursor: pointer; display: inline-block; height: 16px; line-height: 999px; margin-top: 5px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; overflow-x: hidden; overflow-y: hidden; text-indent: -1000px; width: 16px; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

#panel_Category { }

#newcomments { }

#load_comments { cursor: pointer; font-size: 14px; font-family: 微软雅黑; line-height: 30px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-image: initial; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; display: block; height: 30px; text-align: center; }

#panel_Archive { }

#panel_Archive li { display: block; }

#panel_Archive li::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

#panel_Archive .list_closed { float: right; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 12px; background-image: url(http://static.blog.csdn.net/images/arrow_down.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; color: rgb(102, 102, 102); cursor: pointer; background-position: 0% 50%; background-repeat: no-repeat no-repeat; }

#panel_Archive .list_opended { float: right; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 12px; background-image: url(http://static.blog.csdn.net/images/arrow_up.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; color: rgb(102, 102, 102); cursor: pointer; background-position: 0% 50%; background-repeat: no-repeat no-repeat; }

#archive_list { display: block; margin-bottom: 5px; }

#archive_list::after { content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }

.comment_item fieldset { padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-image: initial; background-color: rgb(241, 241, 241); color: rgb(153, 153, 153); }

.comment_head, .commentform_title { clear: both; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(248, 252, 251); background-size: initial; color: rgb(136, 136, 136); padding-top: 1px; padding-right: 4px; padding-bottom: 1px; padding-left: 4px; background-position: initial initial; background-repeat: initial initial; }

.comment_head a, .commentform_title a { color: rgb(51, 102, 153); }

.comment_reply .comment_head { background-color: rgb(235, 245, 242); }

.comment_reply { background-color: rgb(248, 252, 252); }

.newcomment { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(238, 238, 238); border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-image: initial; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; line-height: 20px; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; width: 90%; background-color: rgb(246, 246, 246); }

.commentform_title { color: rgb(0, 0, 0); font-size: 14px; }

.commentform .comment_btn { width: 85px; height: 26px; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; margin-left: 90px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial; background-image: url(http://static.blog.csdn.net/skin/light_blue/images/submit_bg.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 26px; text-align: center; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

.guest_link { background-color: rgb(238, 249, 244); border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: rgb(220, 243, 233); border-right-color: rgb(220, 243, 233); border-bottom-color: rgb(220, 243, 233); border-left-color: rgb(220, 243, 233); border-image: initial; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-size: 12px; }

#main .panel_head { margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px; background-image: url(http://static.blog.csdn.net/skin/light_blue/images/panel_head_bg.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: initial initial; background-repeat: repeat no-repeat; }

#side #profile { margin-top: 0px; }

#baidu_clb_slot_117306 { margin-bottom: 10px; }

.announce { margin-top: 0px; margin-right: 15px; margin-bottom: 10px; margin-left: 15px; }

.commentform { margin-top: 0px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; }

.commentform .panel_head { margin-top: 5px !important; margin-right: 0px !important; margin-bottom: 5px !important; margin-left: 0px !important; }

.digg_enable { background-image: url(http://static.blog.csdn.net/skin/light_blue/images/digg_bg.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; text-align: center; cursor: pointer; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

.digg_disable { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 121, 0); background-size: initial; text-align: center; cursor: pointer; background-position: initial initial; background-repeat: initial initial; }

.medal_intro { padding-top: 26px; }

.blog-associat-tag { clear: both; overflow-x: hidden; overflow-y: hidden; padding-top: 25px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(245, 245, 245); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.blog-associat-tag dt, .blog-associat-tag dd { float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 23px; }

.blog-associat-tag dt { font-family: 'Microsoft YaHei'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 23px; width: 86px; }

.blog-tage-red { display: block; float: left; height: 20px; line-height: 20px; color: rgb(51, 51, 51); padding-top: 0px; padding-right: 14px; padding-bottom: 0px; padding-left: 14px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; margin-top: 2px; margin-right: 5px; margin-bottom: 0px; margin-left: 5px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(231, 231, 231); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.blog-tage-red:link, .blog-tage-red:visited { color: rgb(51, 51, 51); }

.blog-tage-red:hover { background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(204, 0, 0); background-size: initial; color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }

.blog-ass-articl { clear: both; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(245, 245, 245); background-size: initial; background-position: initial initial; background-repeat: initial initial; }

.blog-ass-articl dt { clear: both; overflow-x: visible; overflow-y: visible; font-family: 'Microsoft YaHei'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 35px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; height: 35px; margin-top: 10px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); }

.blog-ass-articl dt span { display: block; float: left; height: 35px; border-bottom-width: 2px; border-bottom-color: rgb(204, 0, 0); border-bottom-style: solid; }

.blog-ass-articl dd { color: rgb(51, 102, 153); width: 42%; float: left; overflow-x: hidden; overflow-y: hidden; font-family: SimSun; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 23px; height: 23px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; margin-right: 30px; background-image: url(http://static.blog.csdn.net/skin/light_blue/images/blog-dot-red3.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: initial; background-position: 0px 10px; background-repeat: no-repeat no-repeat; }

.blog-ass-articl dd a:link, .blog-ass-articl dd a:visited, .blog-ass-articl dd a:hover { color: rgb(0, 0, 0); }

.blog-ass-articl dd a:hover { text-decoration: underline; color: rgb(204, 0, 0); }

.details .article_content img { max-width: 100%; }

.q-reply { cursor: pointer; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; bottom: 35px; min-width: 40px; height: 40px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: fixed; right: 40px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; line-height: 16px; color: rgb(255, 255, 255); }

.backtop { cursor: pointer; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; bottom: 80px; min-width: 40px; height: 40px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; position: fixed; right: 40px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; line-height: 16px; color: rgb(255, 255, 255); }

.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; }
